*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

.main{
    width: 550px;
    margin: 20px auto;
    text-align: center;
}

h1{
    margin: 20px 0px;
}


.main_todo_div{
    width: 26rem;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    align-items: center;
    height: auto;
    margin: 10px;
    list-style: none;   
}

input{
    padding: 8px;
}

.btn{
    padding: 8px; 
    border-radius: 4px; 
    cursor: pointer;
    margin-left: 10px;
}

.btn:hover{
    background-color: lightgreen;
}

.todo-lists-elem{
    margin-top: 20px;
}

.deleteBtn{
    padding: 8px;
     border-radius: 4px;
     cursor: pointer; 
     background-color: red;
     color: #fff;
     font-size: 10px;
}

.deleteBtn:hover{
    background-color: rgb(188, 18, 18);
}